body {
    padding-top: 60px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

/*Vertical center*/
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

/*Carousel center image*/
.carousel-inner > .item > img{
    margin:auto;
}